.pagination {
            font-size: 80%;
        }
        
.pagination a {
    text-decoration: none;
	border: solid 1px #AAE;
	color: #15B;
}

.pagination a, .pagination span {
    display: block;
    float: left;
    padding: 0.3em 0.5em;
    margin-right: 5px;
	margin-bottom: 5px;
	min-width:1em;
	text-align:center;
}

.pagination .current {
    background: #26B;
    color: #fff;
	border: solid 1px #AAE;
}

.pagination .current.prev, .pagination .current.next{
	color:#999;
	border-color:#999;
	background:#fff;
}
.size_selector {
	float: right;
	margin-right: 10px;
	margin-top: -15px; 
}
a.size {
    color:#5444ED;
}
a.selected {
	font-size: 115%;
	color:#000;
}
a.size:hover {
	text-decoration: underline; 
	color: red;
	cursor:pointer;
}
