html{
    background-image:none;  background-color:#4f6373;
}
form{
    margin:10px;
}
body{
    float:left;
}

section.search_forms header{
    font-size:160%;
    font-family:inherit;
    font-style:normal;
    font-weight:normal;
    color:#DEDEDE;
    padding-right:1px;
    padding-left:1px;
    width:100%;
    background-color:#293845;
    margin-top:0px;
}
section.search_forms header:hover {
	text-decoration: underline; 
	color: #EFEFEF;
	cursor:pointer;
}
section.search_forms form{
	display:none;
}
h3{
    font-size:110%;
    font-family:inherit;
    font-style:normal;
    font-weight:normal;
    color:#14212b;
}
div{
    font-size:95%;
    font-family:inherit;
    font-style:normal;
    font-weight:normal;
    color:#444444;
}
section.search_forms {
    font-family:verdana;
	font-size:12px;
	text-align:left;
	width:280px;
    background-color:#efeed1;
    padding:0px;
    margin:5px;
    float:left;
}
section.inner_frame {
    background-color:#7f93A3;
    float:left;
    padding:10px;
    width:98%;
    margin-top:10px;
}
section.inner_frame header{
    font-size:160%;
    font-family:verdana;
    font-style:normal;
    font-weight:normal;
    color:#DEDEDE;
}
div.hide_show {
	font-size:10px;
	text-align:right;
	padding-top:0px;
	padding-right:5px;
}
div.buttons {
	padding:10px;
	text-align:center;
}
div.hide_show_target {
	display:none;
	font-size:12px;
    font-style:normal;
    font-weight:normal;
    color:#444444;
	text-align:left;
	padding-top:0px;
	padding-right:5px;
}
div.hide_show_link {
	display:block;
    color:#5444ED;
}
div.hide_show_link:hover {
	text-decoration: underline; 
	color: red;
	cursor:pointer;
}
span.examples{
    font-size:70%;
}
a.example {
    color:#5444ED;
}
a.example:hover {
	text-decoration: underline; 
	color: red;
	cursor:pointer;
}
div.sort_link {
	display:block;
    color:white;
    padding:2px;
    padding-bottom:8px;
    font-size:70%;
    background-color:#AF4040;
    width: 120px;
    text-align: center;
}
div.sort_link:hover {
	text-decoration: underline; 
	font-weight:bold;
	cursor:pointer;
    background-color:#BF5050;
}
section.search_forms textarea {
	width:98%;
}
section.results {
    font-family:verdana;
	font-size:12px;
	text-align:left;
	width:90%;
    background-color:#efeed1;
    padding-left:10px;
    padding-bottom:10px;
    margin:5px;
    float:left;
}
div.result {
	text-align:left;
	padding-top:10px;
	padding-left:15px;
}
div.result_item {
	font-size:90%;
	padding-left:10px;
}
